<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv=“X-UA-Compatible” content=“IE=8” />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/mdb.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Site.css" rel="stylesheet">



</head>
<body style="background-color: whitesmoke; width: 100%">
<!---
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            //Html.ActionLink("PIQUEDO.", "Index", "Home", new {area = ""}, new {class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>//Html.ActionLink("WORKS", "Index", "Works")</li>
                <li>//Html.ActionLink("NEW JOB", "Create", "Works")</li>

            </ul>
            //Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
    --->




    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href=@Url.Action("Index","Home")>
                <img class="navicon" src="~/images/logoframelessWhite.png" height="32" width="auto"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index","Works")>WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">PEOPLE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">SOLUTIONS</a>
                    </li>
                </ul>
                <form class="form-inline waves-effect waves-light">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </div>
    </nav>
<!--/.Navbar-->


@RenderBody()


   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
