@using piquedo.Models
@model piquedo.Models.Work

@{
    ViewBag.Title = "Details";
    
}


<div class="row StdBg" style="height: 300px; width: 100%;"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-3 hidden-md-down">
            <div class="supercard filterCard"></div>
        </div>
        <div class="col-12 col-md-12 col-lg-9">
        
                <div class="supercard listingCard" >
                    <div class="supercard-imgpane">

                        <div class="category listingCategory">
                            @Html.DisplayFor(model => model.WorkType)
                        </div>
                        <div class="supercard-img">

                        </div>
                    </div>
                    <div class="supercard-content">
                        <div class="box categoryBox">
                        </div>


                        <div class="listingTitle" style="margin-top: 5px">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                        <div class="tagBar">
                            <div class="tag">
                                carperntry
                            </div>
                            <div class="tag">
                                building
                            </div>
                        </div>

                        <p class="listingContent">
                            @Html.DisplayFor(model => model.Description)
                        </p>

                    </div>
                    <div class="act">
                        <div class="footnote" style="font-size: .5rem">@Html.DisplayFor(model => model.Location)</div>
                        <div class="footnote">@Html.DisplayFor(model => model.RenumerationAmount)</div>
                        <div class="footnote"> @Html.DisplayFor(model => model.RenumerationType)</div>
                    </div>
                </div>
            
        </div>
    </div>





</div>


@*<div>
    <h4>Work</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenumerationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenumerationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenumerationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenumerationAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<style>
    .supercard-img {
        background-image: url(@Html.ViewData.Model.ImgUrl); 
    }

</style>