@{
    ViewBag.Title = "Home Page";
}



<link href="~/Content/ParticleFeaver.css" rel="stylesheet">


<div class="full-bg-img flex-center white-text" style="background-color: #1581ee;">
    <div id="particles-js" class="autoFadeIn"></div>

    <div class="container">
        <div class="tags">
            <input placeholder="Search For Works" type="text" class="input-group">
        </div>
    </div>
</div>

<div class="row" style="min-height: 1000px;">

</div>



<div class="container" id="marginFromTop">




    <div class="row">
        <div class="col-md-4">
            <div class="card hoverable" style="margin-top: 50px;" onclick="location.href='@Url.Action("Create","Works")'">
                <!--Card image-->
                <div class="view overlay hm-white-slight" onclick="">
                    <img src="https://mdbootstrap.com/images/regular/city/img%20(4).jpg" class="img-fluid">

                </div>
                <!--/.Card image-->
                <div class="card-block text-center">

                    <h4 class="card-title">@Html.ActionLink("Post Job", "Create", "Works")</h4>
                    <p class="card-text">
                        Need your Garden Rennovated? Pool cleaned? maybe make a custom Wardrobe? Tell us what you need and our skilled worker base will get it done!
                    </p>
                    <p>
                        <a class="btn primary-color" href=@Url.Action("Create","Works")>Post a Work</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hoverable" style="margin-top: 50px;" onclick="location.href='@Url.Action("Index","Works")'">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/images/regular/city/img%20(3).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <div class="card-block text-center">

                    <h4 class="card-title">@Html.ActionLink("Look for Work", "Index", "Works")</h4>
                    <p>Bored? Have alot of free time? want to do something productive? maybe make some money while doing it? Check out these oppurtunities around you!</p>
                    <p>
                        <a class="btn primary-color" href=@Url.Action("Index","Works")>Look For Works</a>
                    </p>
                </div>
            </div>
        </div>






        <div class="col-md-4" style="margin-top: 50px;">
            <div class="card hoverable" onclick="location.href='@Url.Action("Listings","Works")'">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/images/regular/city/img%20(4).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <div class="card-block text-center">
                    <h4 class="card-title">Improve Your Skills</h4>
                    <p>Get hundreds of customers from around your locality. expand your reach and improve your skills based on your client's Feedback.</p>
                    <p>
                        <a class="btn primary-color">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>




<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>


@section Scripts
{
    <script>
        particlesJS("particles-js", { "particles": { "number": { "value": 80, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 0.5, "random": false, "anim": { "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 1, "direction": "none", "random": false, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": false, "mode": "repulse" }, "onclick": { "enable": false, "mode": "push" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = "absolute";
        stats.domElement.style.left = "0px";
        stats.domElement.style.top = "0px";
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector(".js-count-particles");
        update = function() {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);;


    </script>
}